@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Matemasie&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: 4.5rem 3rem auto 2rem;
}

header {
    grid-area: header;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.iconos a {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: black;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.box img {
    width: 100%;
    height: auto;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tablet */
@media (width <=992px) {
    body {
        display: grid;
        height: 100vh;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-rows: 4.5rem 3rem auto 2rem;
    }
}

/* Mobil */
@media (width <=576px) {
    body {
        display: grid;
        height: 100vh;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-rows: 4.5rem 3rem auto 2rem;
    }
}